@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

main {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4.4rem 2.4rem 2.4rem 2.4rem;

    header {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        margin-bottom: 2.2rem;

        .photo {
            width: 9rem;
            height: 9rem;
            border-radius: 9rem;
            border: .1rem solid #292929;
            background: lightgray 50% / cover no-repeat;
        }

        h2 {
            text-align: center;
            font-family: "Space Grotesk";
            font-size: 4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            &::after {
                content: ".";
                color: rgb(5, 216, 153);
            }
        }

        p {
            width: 28rem;

            color: #292929;
            text-align: center;
            font-family: "Space Grotesk";
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .iconHeaderGruop {
            display: flex;
            flex-direction: row;
            gap: 3.2rem;

            .iconHeader {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    section {

        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 1.6rem 0;

        p {
            color: #555761;
            text-align: center;
            font-family: "Space Grotesk";
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: .4rem;
            text-transform: uppercase;
        }

        .groupLink {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            .link {
                a {
                    display: flex;
                    flex-direction: row;
                    width: 30.8rem;
                    padding: .8rem 1.6rem .8rem .8rem;
                    justify-content: space-between;
                    align-items: center;
                    text-decoration: none;

                    h3 {
                        width: 20rem;
                        overflow: hidden;
                        color: #292929;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-family: "Space Grotesk";
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1.6rem;

                        img {
                            width: 4rem;
                            height: 4rem;
                        }
                    }

                    &:visited {
                        text-decoration: none;
                    }
                }

                border-radius: 4.8rem;
                border: .1rem solid #292929;
                background: #FFF;
            }

            .link:hover {
                cursor: pointer;
                box-shadow: .4rem .4rem 0 0 #292929;
            }
        }
    }

    footer {
        margin-top: 6.4rem;

        h2 {
            color: #292929;
            text-align: center;
            font-family: "Space Grotesk";
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            &::after {
                content: "euaallee dev";
                color: #292929;
                font-family: "Space Grotesk";
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

    }
}

@media (min-width: 768px) {
    main {
        header {
            p {
                width: 47rem;
                font-size: 2rem;
            }
        }

        section {
            .groupLink {
                .link {
                    width: 51.4rem;

                    a {

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1.6rem;

                            h3 {
                                width: 41rem;
                            }
                        }

                    }
                }
            }
        }
    }
}